<section class="section__white__cust">
    <div class="container__cust">
        <h3 class="product__title__cust">{{ heading_title }}</h3>
    </div>
</section>

<section class="section__gray__cust slider-section__cust">
    <div class="container__cust">
        <div class="special__swiper__cust">
            <div class="swiper-wrapper swiper__wrapper__cust" >
                {% for product in products %}
                    <div class="swiper-slide">
                        <div class="product__card__hover__cust">
                            <div class="product__card__cust">
                                {# TODO: потрібно зробити нормальну картинку #}
                                <div class="image"><a href="{{ product.href }}">
                                        <img src="{{ product.thumb }}" alt="{{ product.name }}"
                                             title="{{ product.name }}" class="img-responsive product__card__img__cust"/></a>
                                </div>
                                <div class="caption">
                                    <p class="product__card__name__cust"><a
                                                href="{{ product.href }}">{{ product.name }}</a></p>
                                    {# TODO: потрібно зробити нормальний рейтинг як на макеті #}
                                    <div>
                                        <svg width="99" height="19" viewBox="0 0 99 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.5 0L11.6329 6.56434H18.535L12.9511 10.6213L15.084 17.1857L9.5 13.1287L3.91604 17.1857L6.04892 10.6213L0.464963 6.56434H7.36712L9.5 0Z" fill="#D9D9D9"/>
                                            <path d="M29.5 0L31.6329 6.56434H38.535L32.9511 10.6213L35.084 17.1857L29.5 13.1287L23.916 17.1857L26.0489 10.6213L20.465 6.56434H27.3671L29.5 0Z" fill="#D9D9D9"/>
                                            <path d="M49.5 0L51.6329 6.56434H58.535L52.9511 10.6213L55.084 17.1857L49.5 13.1287L43.916 17.1857L46.0489 10.6213L40.465 6.56434H47.3671L49.5 0Z" fill="#D9D9D9"/>
                                            <path d="M69.5 0L71.6329 6.56434H78.535L72.9511 10.6213L75.084 17.1857L69.5 13.1287L63.916 17.1857L66.0489 10.6213L60.465 6.56434H67.3671L69.5 0Z" fill="#D9D9D9"/>
                                            <path d="M89.5 0L91.6329 6.56434H98.535L92.9511 10.6213L95.084 17.1857L89.5 13.1287L83.916 17.1857L86.0489 10.6213L80.465 6.56434H87.3671L89.5 0Z" fill="#D9D9D9"/>
                                        </svg>
                                    </div>
                                    {% if product.rating %}
                                        <div class="rating">
                                            {% for i in 1..5 %}
                                                {% if product.rating < i %} <span class="fa fa-stack"><i
                                                            class="fa fa-star-o fa-stack-2x"></i></span> {% else %}
                                                    <span
                                                            class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i
                                                                class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {# TODO: потрібно добавити артикул не хардкодом #}
                                    <p class="product__card__article__cust">Артикул: KHO3006</p>
                                    {% if product.price %}
                                        <p class="price">
                                        {% if not product.special %}
                                            <p class="product__card__new__price__cust">{{ product.price }}<p>
                                        {% else %}
                                            <p class="product__card__old__price__cust"><span>{{ product.price }}</span>
                                            </p>
                                            <p class="product__card__new__price__cust">{{ product.special }}</p>
                                        {% endif %}
                                        </p>
                                    {% endif %} </div>
                                <div class="button-group">
                                    <button type="button" onclick="cart.add('{{ product.product_id }}');"><i
                                                class="fa fa-shopping-cart"></i> <span
                                                class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                                    <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}"
                                            onclick="wishlist.add('{{ product.product_id }}');"><i
                                                class="fa fa-heart"></i>
                                    </button>
                                    <button type="button" data-toggle="tooltip" title="{{ button_compare }}"
                                            onclick="compare.add('{{ product.product_id }}');"><i
                                                class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <button type="button" class="swiper-button-prev"></button>
            <button type="button" class="swiper-button-next"></button>
        </div>
    </div>
</section>


{# TODO: потрібно потім перенести в файл css #}
<style>
    .swiper__wrapper__cust {
        height: 500px;
    }

    .product__card__hover__cust {
        height: 100%;
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in-out;
    }


    .product__card__cust {
        height: 90% !important;
        background-color: #FFFFFF;
        border: 2px solid #BFBFBF;
        padding: 24px 34px;
        transition: all 0.3s ease-in-out;
        height: auto;
    }

    .product__card__hover__cust:hover .product__card__cust {
        margin: 0;
        border-color: #FF0B0B;
        height: 100% !important;
    }

    .product__card__img__cust {
        width: 60%;
        margin: 0 auto;
    }

    .product__card__name__cust {
        margin-top: 40px;
    }

    .product__card__name__cust a {
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        color: #000000 !important;
    }

    .product__card__article__cust {
        font-family: Raleway;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        color: #7A7A7A;
    }

    .product__card__old__price__cust {
        font-family: Raleway;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        color: #E33F3F;
    }

    .product__card__old__price__cust span {
        position: relative;
    }

    .product__card__old__price__cust span:before {
        content: "";
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
        background-color: #E33F3F;
    }

    .product__card__new__price__cust {
        font-family: Helvetica;
        font-size: 28px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        color: #7A7A7A;
        transition: all 0.3s ease-in-out;
    }

    .product__card__hover__cust:hover .product__card__new__price__cust {
        color: #000000;
    }
</style>



